.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.hr {
  border: solid 2px;
  margin: 20px 0 20px 0;
}

.detail-main {
  width: 70%;
}

.detail-back {
  position: sticky;
  top: 4rem;
  right: 110rem;
  font-size: 5rem;
  color: black;
  cursor: pointer;
}

.detail-back:hover {
  color: #337ab7;
}
.detail-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detail-info {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.detail-title {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.detail-tagline {
  font-size: 1.3rem;
}
.detail-rate {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.detail-img-trailer {
  display: flex;
}

.detail-img {
  width: 450px;
  height: 550px;
  border: 4px solid grey;
}

.detail-trailer {
  margin-left: 50px;
}

.detail-cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail-cast-item {
  display: flex;
  width: 33%;
  align-items: center;
  padding: 1rem;
}

.detail-cast-img {
  width: 150px;
  height: 200px;
  border: 4px solid grey;
  margin-right: 1.3rem;
  margin-bottom: 1rem;
}

.detail-no-img {
  width: 150px;
  height: 200px;
  border: 4px solid grey;
  margin-right: 1.3rem;
  margin-bottom: 1rem;
}

.detail-cast-name {
  display: flex;
  flex-direction: column;
}

.detail-character {
  font-size: 1.1rem;
  font-family: Georgia;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .detail-top {
    flex-direction: column;
  }
  .detail-info {
    text-align: center;
    margin-left: 0;
  }
  .detail-title {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .detail-tagline {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .detail-rate {
    text-align: center;
    margin: 0;
  }
  .detail-img-trailer {
    flex-direction: column;
    align-items: center;
  }
  .detail-trailer {
    width: 450px;
    height: 500px;
    margin-top: 1rem;
    margin-left: 0;
  }
  .detail-cast-item {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .detail-back {
    font-size: 4rem;
  }
  .detail-title {
    font-size: 2rem;
  }
  .detail-tagline {
    font-size: 1.4rem;
  }
  .detail-img {
    width: 300px;
    height: 200px;
  }
  .detail-trailer {
    width: 300px;
    height: 200px;
    margin-top: 1rem;
    margin-left: 0;
  }
  .detail-cast {
    flex-direction: column;
  }
}
